.Login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    width: 50%;
}

.info {
    max-width: 50%;
    margin: auto;
}

.logo svg {
    width: 24px;
    height: 24px;
}

.GoogleLink,
.FacebookLink {
    padding: 5px 0;
}

.GoogleLink a,
.FacebookLink a {
    display: flex;
    margin: 5px 0;
    width: 100%;
    color: #fff;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.GoogleLink a {
    background-color: #4285f4;
}

.GoogleLink .logo {
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
    color: #000000ba;
    background-color: #fff;
}

.FacebookLink a {
    background-color: #1877f2;
}

.FacebookLink .logo {
    margin: 1px;
    padding: 7px;
    border-radius: 3px;
}

.tiltle {
    margin: 0 24px 0 12px;
    padding: 10px 0;
    font-size: 1.6rem;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

// form

.loginForm {
    margin-top: 15px;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    font-size: 1.3rem;
    color: #a5a5a5;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input {
    display: block;
    border-radius: 4px;
    height: 34px;
    font-size: 1.4rem;
    line-height: 20px;
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px;
    background: #000;
    opacity: 0.8;
    color: #dbdbdb !important;
    box-sizing: border-box;
    border: none;
}

.flex {
    display: flex;
    align-items: center;
}

.flex input {
    margin: 4px 4px 4px 0;
    width: 13px;
    height: 13px;
}

.flex p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-left: 4px;
}

.button {
    color: #fff;
    background-color: #5cb85c;
    border: 1px solid#4cae4c;
    padding: 6px 12px;
    font-size: 1.4rem;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    height: 34px;
    width: 105px;

    &:hover {
        background-color: #449d44;
    }
}

.loginForm > p {
    font-size: 1.3rem;
    font-weight: 300;
    color: #ccc;
    text-align: center;
    margin-bottom: 15px;
}

.loginForm p a {
    margin-left: 3px;
    cursor: pointer;
    color: #87c3f9;
    text-decoration: none;

    &:hover {
        color: #23527c;
    }
}
