.content {
    background-color: #202a35;
    padding-bottom: 20px;
}

.container {
    background-color: #151d25;
    width: 86%;
    margin: auto;
    padding: 15px;
    box-shadow: 0 3px 20px 2px #161d23;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 739px) {
    .container {
        width: 100%;
    }
}
