.userContainer {
    margin-top: 32px;
    color: #fff;
    display: flex;
    justify-content: center;

    span {
        margin-left: 5px;
    }

    span:hover { 
        color: yellow;
        text-decoration: underline;
    }

    a:hover {
        color: yellow;
        text-decoration: underline;
    }
}

table {
    width: 80%;        
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #dee2e6;
    text-align: center;
}
th {
    height: 40px;
}
