.dotSlider {
    position: absolute;
    right: 0;
    bottom: -6px;
    top: inherit;

    & button {
        display: inline-block;
        zoom: 1;
        border: none;
        background: 0 0;
    }
}

.dotSlider span {
    display: block;
    width: 25px;
    margin: 5px 7px;
    padding: 4px;
    background: #52a7f1;
    transition: opacity 0.2s ease;

    &:hover {
        background-color: #8bc34a;
    }
}

.dotSlider .active {
    background-color: #8bc34a !important;
}

.navContent {
    margin-top: 15px;
}

.navContent ul {
    width: 100%;
    display: flex;
    align-items: center;
}

.navContent li {
    width: calc(100% / 8);
    margin: 1px;
}

.navContent li button {
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 4px;
    width: 100%;
    padding: 5px 10px;
    background: #23232a;
    color: #fff;

    &:hover {
        background-color: #333;
    }
}

.navContent li button.active {
    background: linear-gradient(
        140deg,
        rgba(0, 77, 102, 0.8) 0%,
        rgba(0, 134, 179, 0.9) 50%,
        rgba(0, 191, 255, 1) 100%
    );
}

.navContent li span {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 26px;
}

@media (max-width: 739px) {
    .navContent ul {
        flex-wrap: wrap;
    }

    .navContent li {
        width: calc(50% - 2px);

        &:first-child {
            width: 100%;
        }
    }

    .toggleNav button:first-child {
        height: 30px;
    }
}

// mainContent

.mainContent {
    margin-bottom: 20px;
}

.showMovie {
    width: 100%;
    margin-bottom: 40px;
}

// numberPage
.numberPage {
    text-align: center;
    margin: 20px 0;
}

.numberPage ul {
    padding: 0;
    color: #fff;
}

.numberPage li {
    display: inline-block;
    margin: 3px;
    line-height: 35px;
}

.numberPage li span {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 1.5rem;
    background-color: #1b364e;
    margin: 20px 0;

    &:hover {
        background: #396792;
        color: #fff;
        transition: 0.5s all;
    }
}

.numberPage li span.current {
    background: #bf7d18;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cd881e), to(#674614));
    transition: 0.5s all;
    color: #fff;

    &:hover {
        background: #cd881e;
        transition: 0.5s all;
        cursor: not-allowed;
    }
}

.numberPage li span.dots {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.05), 0 1px 3px rgba(0, 0, 0, 0.28);
    transition: 0.5s all;
    padding: 8px 5px;
    background-color: #151d25;

    &:hover {
        background: #cd881e;
        transition: 0.5s all;
        cursor: not-allowed;
    }
}